# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_DEFAULT_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=6379
WEATHER_CACHE_TTL=
SEARCH_CACHE_TTL=

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=

# API
API_PORT=3000
API_URL=http://localhost:3000
WEATHER_API_URL=https://api.weatherapi.com
WEATHER_API_KEY=

# Client
CLIENT_PORT=
CLIENT_URL=

# Mode
NODE_ENV=